# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

dist
coverage

/tsconfig.tsbuildinfo
/.env

/.claude/settings.local.json
